.form {
  font-family: "Dosis";
  font-size: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

textarea {
  margin-top: 15px;
  width: 20rem;
  max-width: 100%;
  border-style: solid;
}

.submitButton {
  font-size: 28px;
  font-weight: 500;
  font-family: "Dosis";
  border-radius: 5px;
}

input {
  width: 20rem;
  max-width: 100%;
}

.contactpara {
  font-family: "Dosis";
  font-size: 25px;
}
