.form{
    font-family: 'Dosis';
    font-size: 30px;
    padding-left: 30px;
}

textarea {
    resize: none;
   margin-top: 15px;
}

input {
    font-size: 28px;
    font-weight:500;
    font-family: 'Dosis';
}