.App {
  text-align: center;
}

.App-logo {
  height: 45vmin;
  pointer-events: none;
  border-radius: 20px;
  margin-right: 15px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Nav-Text {
  font-size: 60px;
  font-family: Dosis;
  text-align: center;
}

.div-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  font-family: Dosis;
  border-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Footer-Deets {
  font-size: 20px;
  font-family: Dosis;
  font-weight: bold;
}

.Swan {
  height: 12vmin;
  border-radius: 25px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.facebook {
  height: 5vmin;
}

.font-event-box {
  font-size: 30px;
  display: flex;
  border-style: solid;
  width: 46em;
  height: 3em;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Dosis';
}

.font-event-description{
  display: flex;
  width: 10em;
  justify-content: space-between;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#button{
  font-family: 'Dosis';
  font-size: 30px;
  border-radius: 10px;
  color: blue;
  background-color: lightblue;
  width: 10em;
}

.main-nav {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
  margin-top: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Dosis';
}

.aboutus-para {
  font-size: 30px;
  font-family: Dosis;
}



/* Link{
  text-decoration: none;
} */

.cerys{
  height: 30vmin;
  border-radius: 15px;
}

.wanda{
  height: 35vmin;
  border-radius: 15px;
}

.wanda-div{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Dosis';
  font-size: 30px ;
  background-color: lightgray;
}

.cerys-div{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Dosis';
  font-size: 30px ;
}

.home-flex-container {
display: flex;
background-color: lightgray;
padding-left: 30px;
padding-right: 60px;
line-height: 75px;
text-align: center;
}